img {
  height: 200px;
  width: 200px;
}

figcaption {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  color: #1f1f2e;
  text-align: center;
}

.col1 {
  display : flex;
}
.col2 {
  display : flex;
}
.col3 {
  display : flex;
}

.cup1 {
  left: 0%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup2 {
  left: 25%;
  margin: 0 auto;
  border: 2px solid #000000;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup3 {
  left: 50%;
  margin: 0 auto;
  border: 2px solid #000000;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup4 {
  left: 0%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup5 {
  left: 25%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup6 {
  left: 50%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup7 {
  left: 0%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup8 {
  left: 25%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.cup9 {
  left: 50%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,
    #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}
