header {
  display: flex;

}

h1 {
  margin-top: 12px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  font-size: 20px;
  height: 40px;

}
li {
  display: inline-block;
}
li a {
  padding: 0px 30px;
  text-decoration: none;
  color: #1f1f2e;
}
li a:hover {
  padding: 2px 30px;
  background-color: #1f1f2e;
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}
